{{- $logoPath := .Site.Params.navbar.logo.path | default "images/site-logo.jpeg" -}}
{{- $logoLink := .Site.Params.navbar.logo.link | default .Site.Home.RelPermalink -}}
{{- $logoWidth := .Site.Params.navbar.logo.width | default 40 -}}
{{- $logoHeight := .Site.Params.navbar.logo.height | default 40 -}}
{{- $logoDarkPath := .Site.Params.navbar.logo.dark | default $logoPath -}}
{{- $siteTitle := .Site.Title | default "爱播语录" -}}

<a class="hx:flex hx:items-center hx:hover:opacity-75 hx:ltr:mr-auto hx:rtl:ml-auto hx:text-gray-900 hx:dark:text-gray-100 hx:no-underline" href="{{ $logoLink }}">
  {{- $displayTitle := (.Site.Params.navbar.displayTitle | default true) }}
  {{- if (.Site.Params.navbar.displayLogo | default true) }}
    <img class="hx:mr-2 hx:block hx:dark:hidden hx:shrink-0" src="{{ $logoPath | absURL }}" alt="{{ cond $displayTitle `Logo` $siteTitle }}" height="{{ $logoHeight }}" width="{{ $logoWidth }}" />
    <img class="hx:mr-2 hx:hidden hx:dark:block hx:shrink-0" src="{{ $logoDarkPath | absURL }}" alt="{{ cond $displayTitle `Dark Logo` $siteTitle }}" height="{{ $logoHeight }}" width="{{ $logoWidth }}" />
  {{- end }}
  {{- if $displayTitle }}
    <span class="hx:mr-2 hx:font-extrabold hx:inline hx:select-none" title="{{ $siteTitle }}">{{- $siteTitle -}}</span>
  {{- end }}
</a>
